body {
    background-color: #1a1a1a;
}
#root {
    /* border: 1px solid red; */
}
.App {
    max-width: 800px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}
